<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InstagramParse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0AEE04AD1C8625DC00E60FDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AEE04C11C8625DC00E60FDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AEE04CC1C8625DC00E60FDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
